.grid {
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    max-width: 100vh;
    overflow: auto;

    .row {
        display: flex;
        flex-basis: 100px;
        flex-grow: 0;
        flex-shrink: 0;

        .tile {
            align-items: center;
            border: 1px solid black;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            flex-basis: 100px;
            flex-grow: 0;
            flex-shrink: 0;
            height: 100px;
            position: relative;
            transition: background 1000ms ease-in-out 250ms;

            &.dirt {
                background: sandybrown;
            }

            .hoover {
                background: grey;
                border: 2px solid black;
                border-radius: 50px;
                height: 30px;
                width: 30px;
            }

            .debug {
                bottom: 5px;
                font-size: 10px;
                left: 5px;
                position: absolute;
            }
        }
    }
}
