.player-mover {
    padding: 20px;
    text-align: center;
    width: 300px;
}

.mover {
    padding: 10px 20px;

    &.north, &.south {
        display: block;
        margin: 0 auto;
    }

    &.west, &.east {
        display: inline-block;
        margin: 10px;
    }
}
